@(currentSortBy : String, currentOrder : String, entity : String, seq: String*) 

<script type="text/javascript" charset="utf-8">
	$(function() {
		$('.sortorder a').click(function(event) {
			
			var sortcolumn = $(this).attr("data-sortcolumn");
			var sortorder = $(this).attr("data-sortorder");
			console.log("sort by ", sortcolumn, sortorder);
			$("#sortBy").val(sortcolumn);
			if(sortorder && sortorder == "asc") {
				 sortorder="desc"
			} else {
				sortorder="asc"
			} 	
			
			
			$("#sortOrder").val(sortorder);

	    	$("#defaultFilter").submit();
			
			event.preventDefault();
		})
	});

</script>

@header(key:String, title:String) = {
		<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "dropdown" else "dropup"} sortorder">
			<a href="#" data-sortcolumn="@key" @if(currentSortBy == key) {data-sortorder="@currentOrder"} else {}>@title <b class="@if(currentSortBy == key) @{if(currentOrder == "asc") "caret" else "caret"}"></b></a>
		</th>
}

@seq.map {e =>
	@header(e, Messages(entity + "." + e))
}
	
