@(currentPage: models.helpers.Page[_], currentSortBy : String, currentOrder : String, currentFilter : play.data.DynamicForm, linkExport: () => play.api.mvc.Call, linkAdd: () => play.api.mvc.Call)(headerRow: Html)(dataRows: Html)


<table class="table table-bordered table-striped" style="background-image:">
	<thead>
			@headerRow
	</thead>
	<tbody>
			@dataRows
	</tbody>
	</table> 
