@(listaArduinos: List[Lot])

@main("Lista de Arduinos") {

	<div>
		<ol class="breadcrumb" style="background-color:greenyellow;">
		  <li class="active">Home</li>
		</ol>
	</div>
		
	@cuerpo.gride(listaArduinos) {
		@grid.Cabezera(currentSortBy, currentOrder, "id", "name")
	}{
		@listaArduinos:.map {LA =>
			@grid.contenido(LA.id, LA.name)
																																			
		}		
	}
}
